
@media (min-width: 1024px) {
 body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }



 main{
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
 }

 .background-image {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
}

 .data{
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translateY(-50%);
  font-size: 1em;
  z-index: 1;
  padding: 1rem;
  width: 20%;
  background-color: rgba(249, 220, 92, 0.75);
  box-shadow: 4px 4px 12px rgba(0,0,0, 0.5);
  border-radius: 5%;
 }

 .data h2{
  position: relative;
  right: 6%;
  width: 70%;
  font-size: 1.5em;
  background-color: rgba(1, 22, 56, 0.75);
  box-shadow: 4px 4px 12px rgba(0,0,0, 0.5) ;
  color: #FFCD00;
  padding: 0.5em;
  text-align: left;
 }

 .data p{
  text-align: right;
 }

 .weather{
  position: absolute;
  top: 60%;
  right: 10%;
  transform: translateY(-50%);
  font-size: 1em;
  z-index: 1;
  padding: 1rem;
  width: 20%;
  background-color: rgba(249, 220, 92, 0.75);
  box-shadow: 4px 4px 12px rgba(0,0,0, 0.5);
  border-radius: 5%;
 }

 .weather h2{
  position: relative;
  right: 6%;
  width: 70%;
  font-size: 1.5em;
  background-color: rgba(1, 22, 56, 0.75);
  box-shadow: 4px 4px 12px rgba(0,0,0, 0.5);
  color: #FFCD00;
  padding: 0.5em;
  padding-left: 5%;
  text-align: left;
 }

 .weather p{
  text-align: right;
 }

 .weather img{
  width: 20%;
 }

}
